<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - EmployeeManagmentSystem</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
 </head>
 <base href="~/" />
<body>
    <div class="m-2">
        <h5 class="bg-secondary text-white text-center p-2">Razor Page</h5>
        @RenderBody()
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>